<div class="accordion" id="accordionExample" *ngIf="userSetsWithName">
  <div class="accordion-item" *ngFor="let set of userSetsWithName">
    <h2 class="accordion-header" id="headingOne{{set.set}}">
      <button 
        (click)="getUserCardsOwnedSet(set.set)" 
        [ngClass]="{'collapsed': showSet !== set.set}"
        class="accordion-button" 
        type="button" 
      >
        {{set.name}}
      </button>
    </h2>
    <div id="collapseOne{{set.set}}" [ngClass]="{'show': showSet === set.set}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" >
      <div class="accordion-body row bg-light rounded d-flex justify-content-evenly py-4">
        <app-card-item class="col-lg-2 col-md-3 col-5" *ngFor="let card of cardsOwnedSet" [card]="card"></app-card-item>
      </div>
    </div>
  </div>
</div>