<div class="accordion" id="accordionExample" *ngIf="userSets">
  <div class="accordion-item" *ngFor="let set of userSets">
    <h2 class="accordion-header" id="headingOne">
      <button (click)="getUserCardsOwnedSet(set)" 
        class="accordion-button" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#collapseOne" 
        aria-expanded="true" 
        aria-controls="collapseOne"
      >
        {{set}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" [hidden]="showSet !== set">
      <div class="accordion-body row bg-light rounded d-flex justify-content-evenly py-4">
        <app-card-item class="col-lg-2 col-md-3 col-5" *ngFor="let card of cardsOwnedSet" [card]="card"></app-card-item>
      </div>
    </div>
  </div>
</div>