<div class="container h-100 text-center mx-auto">
    <div class="h-100 d-flex align-items-center mx-auto">
        <div class="mx-auto">
            <h1>WELCOME TO<br>
                LOS SEIS AMIGOS MAGIC SHOP!</h1>

            <div class="d-flex justify-content-around mt-5">
                <button class="px-4 py-2 btn btn-info" (click) ="toRegister()">Register</button>
                <button class="px-4 py-2 btn btn-info" (click) ="toLogin()">Login</button>
            </div>
        </div>
    </div>
</div>