<div class="container mx-auto h-100">
  <div class="mx-auto h-100 d-flex align-items-center">
      <form class="text-center mx-auto " [formGroup]="resetCredentials">
          <h2>Reset Password</h2>
          <input type="text" placeholder="Enter Username" class="form-control py-2 px-3" formControlName= "username"/> <br>
          <input type="password" placeholder="Enter Current Password" class="form-control mb-4 py-2 px-3" formControlName= "password"/>
          <input type="password" placeholder="Enter New Password" class="form-control py-2 px-3" formControlName= "newPassword"/>
          <div class="row d-flex justify-content-center">
              <button class="w-75 my-4 px-4 py-2 btn btn-info" (click) ="resetSubmit(resetCredentials.value)" [disabled]="resetCredentials.invalid">Reset Password</button>

              <hr class="" size="0" style="height:3px;border:none;color:white;background-color: white;">

              <button class="w-75 my-2 px-4 py-2 btn btn-info" (click) ="toDash()">Return to Homepage</button>
          </div>
      </form>
  </div>
</div>