<!-- <div class="container row mx-auto d-flex justify-content-evenly "> -->

  <!-- START PRODUCT LISTING -->
  <div class="card w-100 mb-3 mx-auto card-adjustment" style="" *ngIf="pack">
    <div class="w-100 text-center mx-auto">
      <img class="p-1 mx-auto mb-auto" style="height: 17rem;" src="{{pack.imgSrc}}" alt="Card image cap">
    </div>
    <div class="p-2 text-center">
      <hr>
      <h5 class="card-title text-decoration-underline"><abbr title="Contains {{pack.cardCount}} cards from">{{pack.setName}}</abbr></h5>
      <!-- <p class="card-text text-muted">Contains {{pack.cardCount}} cards </p> -->
      <p class="fw-bold text-right" style="">
        <span class="card-text mr-auto fw-bold p-2">${{pack.price}} </span>
      </p>
      
      <div class="row p-0">
        <div class=" px-0 col-7 text-center">
          <button (click)="updateQuantity(-1)" style="" class="p-0 px-1 pt-1 m-0 btn btn-outline-danger">
            <span aria-hidden="true">
              <i class="material-icons" style="font-size: 15px;">remove</i>
            </span>
          </button>
          <span class="title fw-bolder px-3">{{quantity}}</span>
          <button (click)="updateQuantity(1)" class="p-0 px-1 pt-1 m-0 btn btn-outline-primary">
            <span aria-hidden="true">
              <i class="material-icons" style="font-size: 15px;">add</i>
            </span>
          </button>

        </div>
        
        <div class="col-5 px-2 text-center">
          
          <button (click)="addToCart()" class="w-100 pb-0 px-2 pt-1 btn btn-primary"><span aria-hidden="true"><i class="material-icons">add_shopping_cart</i></span></button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- END PRODUCT LISTING -->
<!-- </div> -->