<!-- <div class="container row mx-auto d-flex justify-content-evenly "> -->

  <!-- START PRODUCT LISTING -->
  <div class="card mb-3 mx-auto " style="width: 18.5rem;" *ngIf="pack">
    <img class="p-1 d-flex align-items-stretch" src="{{pack.imgSrc}}" alt="Card image cap">
    <div class="p-2 mt-auto">
      <hr>
      <h5 class="card-title">{{pack.setName}}</h5>
      <p class="card-text">Contains 10 cards from {{pack.setName}} </p>
      <p class="fw-bold text-right">

        <span class="card-text mr-auto fw-bold p-2">${{pack.price}} </span>
      </p>
      <button (click)="addToCart()" class="w-100 btn btn-primary">Add To Cart</button>
    </div>
  </div>
  <!-- END PRODUCT LISTING -->
<!-- </div> -->